*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.head-contain{
    background-image: url("/assets/main.png");
    height: 70vh;
    background-size: cover;
    background-position: center;
  
  
}
.container{
    max-width: 1200px;
    margin:auto;
    padding: 20px 30px;
}
.on{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.on h3{
    color:white;
    margin-left: 30px;
}
nav ol li{
    display: inline;

   
    padding: 10px 20px;

}
nav ol li a{
    text-decoration: none;
    color:white;
}
.main{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
.main h1{
    font-size: 50px;
}
.main h2{
    font-size: 110px;
    margin-top: -20px;
}
.main p{
    width: 250px;
    margin-bottom: 10px;
}
.button{
    padding: 10px 20px;
    border:none;
    border-radius: 30px;

}
.bottom{
    margin: 80px auto;
}
.text h1{
    font-size: 40px;
    text-align: center;
}
.img{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.img img{
    width: 300px;
    border-radius: 30px;
    transition: all 0.5s ease;

}
.img img:hover{
    transform: scale(1.2);
}
.center {
    background-color: gray;
   
}
.high{
    height: 200px;
    position: relative;
    top:0;
    left: 50px;
    
  

}
.high h1{
    font-size: 50px;
    font-family: 'forum', 'sans-serif';
    text-align: center;

}
.div{
    display: flex;
    position: relative;
    top:0;
    left: 30px;
  
}












